__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
wheels/
*.egg-info/
.eggs/
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Dev folders
tmp/
ref/
plan/
/data/

renv.lock
renv/
.Rprofile
.Renviron
.R/
